.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.form-control-dark {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.logo{
  padding-left: 120px;
}
.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

.primerContedor{
  background:rgb(99,99,99);
}

.segundoContenedor{
  background: #fff;
  display: flex;
}

.letras{
  color: #fff;
}

.iconos{
  background: orange;
  padding: 10px;
}

.nuestra{
  
  padding-top: 40px;
  font-size: 16px;
  /*color: #FF5733;*/
  color: rgb(225,183,165);
  text-align: center;
  width: 44%;
  
}
.Historia{
  color:rgb(79,41,54);
  padding-block: 10px;
  font-size:50px;
  
}
.parrafo{
  padding-right: 60px;
}

.texto{
  padding-left: 70px;
}

.proporcion{
  width: 70%;
  padding-left: 150px;
}

.colorMain{
  background: rgb(213,202,206);
}

.nombres{
  color: rgb(88,64,72);
  font-size: 20px;
}

.cargos{
  color: rgb(88,64,72);
  
}

.bordes{
  border: 3.5px solid rgb(166,151,156);

}

.social{
  position: fixed;
  right: 0;
  top: 150px;
  z-index:1;
}
.social ul{
  list-style: none;
}
.social ul li a{

  display: inline-block;
  color: #FFF;
  background: rgb(255, 115, 1);
  padding: 10px 15px;
  text-decoration: none;
}

.tope{
  padding-top: 40px;
}

.colorFondoSlider{
  background: rgb(49,1,1);
  display: flex;
  padding-top: 30px;
  margin: auto;
}

.porcentaje{
  width: 37%;
}

.porcentajeMapa{
  width: 20%;
}

.porcentajeImagen{
  width: 20%;
}

.datos{
  padding: 15px;
}

.colorFCarrusel{
  background-color: #fff;
}

#conteItemsCarrusel{
  
  height: 200px;
  overflow: hidden;
}

.itemCarrusel{

  height:100%;
  position: relative;
}

.tarjetaCarrusel{
  height:100%;
}


.flechasCarrusel{
  position: absolute;
  top:0px;
  height:100%;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px;
}


#tarjetaCarrusel-1{
  background-color: #fff;
  display: flex;
}

#tarjetaCarrusel-2{
  background-color: #fff;
}

#tarjetaCarrusel-3{
  background-color: #fff;
}

a{
  text-decoration: none;
}

i{
  color:black;
}

.testimonio-1{
  padding-top: 30px;
  padding-left: 160px;
  width: 30%;
}

.palabrasTestimonio{
  width: 50%;
  padding-top: 60px;
}