.social{
    position: fixed;
    right: 0;
    top: 150px;
    z-index:1;
}
.social ul{
    list-style: none;
}
.social ul li a{

    display: inline-block;
    color: #FFF;
    background: rgb(255, 115, 1);
    padding: 10px 15px;
    text-decoration: none;
}